{%extends "layout.html"%}
{%block content%}
<div class ="container"style="padding-top: 100px;">
<div class="jumbotron" >
<h1 class="display-4">Simple, Efficient, Awesome</h1>
<p class="lead">That is what in my mind when I built this project. I built this car parking management system for my graduation thesis. I got a lot of experiences from building this little system
  
</p>
<p class="lead">
  <a class="btn btn-primary btn-lg" href="mailto:agyekyaw007@gmail.com" role="button">Contact me</a>
</p>
</div>

<div class="jumbotron" >
  <h1 class="display-4">About me</h1>
  <p class="lead">
    My name is Aung Ye Kyaw. I am an undergraduate student currently learning in UTYCC. I am interested in all things electronics, especially on computers. Isn't that mesmerizing these little sillicon chips can control everything?
    As a result, I focused my learning in programming these little chips. I feel bliss when my code compile successfully and my program is up and running.  
  </p>
</div>
</div>
{%endblock%}
