{%extends "layout.html"%}
{%block content%}
<h1 class ="container" style="padding-top: 100px;">Thank you for purchasing our parking bill!</h1>
<br>
<div class="container">
<form class="form-group" method="POST">
                Car Number: <input class="form-control mx-sm-3" type="text" name="rfid"><br>
                RFID Card Number:<input class="form-control mx-sm-3" type="text" name="tag"><br>
                amount: <input class="form-control mx-sm-3" type="text" name="amount"><br>
                <input class="btn btn-primary btn" type="submit" value="Submit"><br>
            </form>
</div>
{%endblock%}
