{%extends "layout.html"%}
{%block content%}

<h1 class ="container" style="padding-top: 100px;">Current Bill Amount Records</h1><br>
<div class="container">
<p class="lead">Currently loggined as {{current_user.username}} </p>
</div>

{% if current_user.username == 'Admin'%}
<div class="container">
    <form class="form-inline" action={{url_for('searchbill')}} method ="POST">
      <input type="text" class="form-control mx-sm-3" placeholder="RFID" name="rfid"/>
      <button type="submit" class="btn btn-primary btn">Search</button>
    </form>
</div>
{% endif %}
<br>
<div class="container">
{{ table|safe }}
</div>

</div>

{%endblock%}
