{%extends "layout.html"%}
{%block content%}

<div class="container-fluid">
<div id="map" class="z-depth-1-half map-container" style="margin-top: 80px; padding-top: 150px; height: 600px" ></div>
</div>
<br>
<div class="container-fluid">
<header class="masthead bg-primary text-white" style="padding-top: 10px;padding-bottom: 150px;">
    <div class="container align-items-left flex-column">


      <!-- Masthead Heading -->
      {% for parking,value in carcount.items() %}
      <p class ="lead">{{ parking }} has {{ 20-value }} free spaces.</p>
  {% endfor %}


    </div>
  </header>

</div>
<script>
var map;
var parkingIcon = {
  'greenparking': '/static/icons/parkinggreen.png',

  'orangeparking': '/static/icons/parkingorange.png',

  'redparking': '/static/icons/parkingred.png'
};
var myMarkerList = [
  ['parking1', 21.8970145, 96.3568636],
  ['schoolparking', 21.8761898, 96.3658241],
  ['pyinoolwin', 21.8665312, 96.3521198]
];

var carcount = {{carcount|safe }}

function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    center: {
      lat: 21.8761898,
      lng: 96.3658241
    },
    zoom: 13
  });

  for (var i = 0; i < myMarkerList.length; i++) {
    parking = myMarkerList[i];
    parkingname= parking[0]
    if (carcount[parkingname] < 10 ) {
      aaa = parkingIcon['greenparking'];
    } else if (carcount[parkingname] > 20) {
      aaa = parkingIcon['redparking'];
    } else {
      aaa = parkingIcon['orangeparking'];
    }

    var marker = new google.maps.Marker({
      position: {
        lat: parking[1],
        lng: parking[2]
      },
      map: map,
      icon: aaa
    })
  }

}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPVMvpVId6mdZpj8-PMHuMYfl-q0Q7dco&callback=initMap" async defer></script>

{%endblock%}
