<!DOCTYPE html>
<html>
<head>
    <!DOCTYPE html>
    <html lang="en"><link type="text/css" id="dark-mode" rel="stylesheet" href=""><style type="text/css" id="dark-mode-custom-style"></style><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
            <meta charset="utf-8">
            
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <title>ACP System</title>
            <link rel="stylesheet" href="/static/homepage_files/bootstrap.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="/static/homepage_files/freelancer.css">
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
            <script src="/static/homepage_files/jquery-3.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="/static/homepage_files/popper.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="/static/homepage_files/bootstrap.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
    #map {
       
       height: 1000px;
       width:100%;
       margin: auto;
     }
    
    
    </style>
        </head>
  </head>
<style>  table {
border-collapse: collapse;
}

table, th, td {
border: 1px solid black;
}
table {
width: 100%;
}

th {
height: 50px;
}
th, td {
padding: 15px;
text-align: left;
}
tr:nth-child(even) {background-color: #f2f2f2;}

#map {
   
   height: 400px;
   background-color: grey;
 }


</style>

<body>
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
          <a class="navbar-brand js-scroll-trigger" href="#page-top">SMART CARPARKING SYSTEM</a>
          <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ url_for('index')}}">Home</a>
              </li>
              <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ url_for('about')}}">About</a>
              </li>
              <li class="nav-item mx-0 mx-lg-1">
                    {% if current_user.is_anonymous %}
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ url_for('login') }}">Login</a>
              </li>
                {% else %}
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ url_for('logout') }}">Logout</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ url_for('loggined')}}">Links</a>
                  </li>
                  {% endif %}

              </li>
            </ul>
          </div>
        </div>
      </nav>
      {%block content%}
      {%endblock%}
    </div>
  </body>
</html>
